#-------------------------------------------------------------------------#
#-------------------------- TOBIAS input data ----------------------------#
#-------------------------------------------------------------------------#

data:
    control: [test_data/control_s1.bam, test_data/control_s2.bam]         #list of bam files
    treatment: [test_data/treatment_s1.bam]   #list of bam files

run_info:
  organism: human                             #mouse/human
  fasta: test_data/genome.fa                  #.fasta-file containing organism genome
  blacklist: test_data/blacklist.bed          #.bed-file containing blacklisted regions
  gtf: test_data/genes.gtf                    #.gtf-file for annotation of peaks
  motifs: test_data/motifs/                   #directory containing motifs (single files in meme or JASPAR pfm format)  
  output: test_output/                        #output directory 



#-------------------------------------------------------------------------#
#----------------------- Default module parameters -----------------------#
#-------------------------------------------------------------------------#

macs: "--nomodel --shift -100 --extsize 200 --broad"

# for parameter description see uropa manual: http://uropa-manual.readthedocs.io/config.html
# adjust filter attribute for given gtf: ensembl gene_biotype / genecode gene_type
# other optional parameters: --filter_attribute gene_biotype --attribute_value protein_coding
uropa: "--feature gene --feature_anchor start --distance [10000,1000] --show_attribute gene_name,gene_id,gene_biotype" 

atacorrect: ""
footprinting: ""
bindetect: ""
plotting: ""
