#-------------------------------------------------------------------------#
#-------------------------- TOBIAS input data ----------------------------#
#-------------------------------------------------------------------------#

data:
  Tcell: [../test_data/day1_chr4.bam,../test_data/day2_chr4.bam,../test_data/day3_chr4.bam]
  Bcell: [../test_data/buenrostro_chr4.bam]
  

run_info:
  organism: human
  fasta: ../test_data/homo_sapiens.94.chr4.fa
  blacklist: ../test_data/homo_sapiens.blacklisted.chr4.bed
  gtf: ../test_data/homo_sapiens.94.chr4.gtf
  motifs: jaspar_core_vertebrates # adjust path
  output: ../test_data/tobias_output



#-------------------------------------------------------------------------#
#----------------------- Default module parameters -----------------------#
#-------------------------------------------------------------------------#

macs: "--nomodel --shift -100 --extsize 200 --broad"

# for parameter description see uropa manual: http://uropa-manual.readthedocs.io/config.html
# adjust filter attribute for given gtf: ensembl gene_biotype / genecode gene_type
# other optional parameters: --filter_attribute gene_biotype --attribute_value protein_coding
uropa: "--feature gene --feature_anchor start --distance [10000,1000] --filter_attribute gene_biotype --attribute_value protein_coding --show_attribute gene_name,gene_id,gene_biotype" 

atacorrect: ""
footprinting: ""
bindetect: ""
plotting: ""
