#-------------------------------------------------------------------------#
#-------------------------- TOBIAS input data ----------------------------#
#-------------------------------------------------------------------------#

data:
  Bcell: [../test_data/Bcell_chr4.bam]                                   #list of .bam-files
  Tcell: [../test_data/Tcell_chr4_1.bam, ../test_data/Tcell_chr4_2.bam]  #list of .bam-files
  
run_info:
  organism: human                                #mouse/human
  fasta: ../test_data/genome_chr4.fa.gz          #.fasta-file containing organism genome
  blacklist: ../test_data/blacklist_chr4.bed     #.bed-file containing blacklisted regions
  gtf: ../test_data/genes_chr4.gtf               #.gtf-file for annotation of peaks
  motifs: ../test_data/individual_motifs         #directory containing motifs (single files in MEME/JASPAR/PFM format)
  output: ../test_output                         #output directory 


#-------------------------------------------------------------------------#
#----------------------- Default module parameters -----------------------#
#-------------------------------------------------------------------------#

macs: "--nomodel --shift -100 --extsize 200 --broad"

# for parameter description see uropa manual: http://uropa-manual.readthedocs.io/config.html
# adjust filter attribute for given gtf: ensembl gene_biotype / genecode gene_type
# other optional parameters: --filter_attribute gene_biotype --attribute_value protein_coding
uropa: "--feature gene --feature_anchor start --distance [10000,1000] --filter_attribute gene_biotype --attribute_value protein_coding --show_attribute gene_name,gene_id,gene_biotype" 

atacorrect: ""
footprinting: ""
bindetect: "--prefix immune"
plotting: ""
